#body {
  /* background-image: url('./resources/testing_background_1.jpg'); */
  /* background-image: url('./resources/testing_background_2.jpg'); */
  /* background-image: url('./resources/testing_background_3.jpg'); */
  /* background-image: url('./resources/testing_background_4.jpg'); */
  /* background-image: url('./resources/testing_background_5.jpg'); */
  /* background-image: url('./resources/testing_background_6.jpg'); */
  /* background-image: url('./resources/testing_background_7.jpg'); */
  /* background-image: url('./resources/testing_background_8.jpg'); */
  background-image: url('./resources/testing_background_9.jpg');
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
  padding-right: 0;
}

/* Making it so background image is stationary */
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
/* End */

.content-block {
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 150px;
  padding: 35px;
}

h2, p {
  color: white;
}

.header-div {
  height: 800px;
  padding-top: 300px;
  text-align: center;
}

.title-block {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
  width: 100%;
}
